.container {
    width: 960px;
    height: 960px;
    display: grid;
    border: 5px solid rgba(0, 0, 0, 1);
    position: relative;
    left: 30%;
    
    
}
h1  {
    position: relative;
    left: 38%;
    font-size: 100px;
}
body    {
    background-color: white;
    
}
.box {
    color: white;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

button {
    font-size: 25px;
    margin: 20px;
    position: relative;
    left: 38%;
    background-color: pink;
}